<!DOCTYPE html>
<body>
<form style="max-width: 500px;" action="/productos/crear" method="POST"  enctype="multipart/form-data"> 
    <div>
        <label for="brand"> Marca</label>
        <input type="text" name="brand" value="">
    </div>
    <div>
        <label for="description">Descripción</label>
        <input type="text" name="description" value="">
    </div>
    <div>
        <label for="display">Presentación</label>
        <input type="text" name="display" value="">
    </div>
    <div>
        <label for="image">Imagen</label>
        <input type="file" name="image" value="">
    </div>
    <div>
        <label for="price">Precio</label>
        <input type="number" name="price">
    </div>
    <div>
        <label for="discount">Descuento</label>
        <input type="number" name="discount">
    </div>
    <div>
        <label for="other_details">Otros detalles</label>
        <input type="text" name="other_details">
    </div>
    <div>
        <label for="category_id">Categoría</label>
        <input type="text" name="category_id" value="">
    </div>
    <div>
        <label for="sub_category_id">Subcategoría</label>
        <input type="text" name="sub_category_id" value="">
    </div>
    
    
    
    <button type="submit">Crear producto</button>


</form>

</body>
</html>