<!DOCTYPE html>
<body>
<form style="max-width: 500px;" action="/productos/crear" method="POST"  nctype="multipart/form-data"> 
    <div>
        <label for="name"> Nombre</label>
        <input type="text" name="name" id="name" value="">
    </div>
    <div>
        <label for="description">Descripción</label>
        <input type="text" name="description" id="description" value="">
    </div>
    <div>
        <label for="display">Presentación</label>
        <input type="text" name="display" id="display" value="">
    </div>
    <div>
        <label for="image">Imagen</label>
        <input type="text" name="image" id="image" value="">
    </div>
    <div>
        <label for="price">Precio</label>
        <input type="text" name="price" id="price" value="">
    </div>
    <div>
        <label for="discount">Descuento</label>
        <input type="text" name="discount" id="discount" value="">
    </div>
    <div>
        <label for="competitorPrice">Precio Competencia</label>
        <input type="text" name="competitorPrice" id="competitorPrice" value="">
    </div>
    <div>
        <label for="category">Categoría</label>
        <input type="text" name="category" id="category" value="">
    </div>
    
    <button type="submit">Crear producto</button>


</form>
<!-- 
    "id": 1,
"nombre": 'Atún la campañola entero',
"descripcion": "Atún la campañola entero x120grs",
"presentacion": "120gr",
"imagen": "../img/productos/atun-lacampanola.webp",
"precio": "$1.099",
"descuento": "5%",
"precioCompetencia": "$1.153,55",
"categoria":"almacen",
}, -->
</body>
</html>