<!DOCTYPE html>
<body>
<form action="/productos/crear" method="POST"  nctype="multipart/form-data"> 
    <label for="nombre"> Nombre</label>
    <input type="text" name="nombre" id="nombre" value="b">

    <label for="first_name">Nombre</label>
    
        <input type="text" name="first_name" id="first_name" value="a">

    <button type="submit">Crear producto</button>


</form>
<!-- 
    "id": 1,
"nombre": 'Atún la campañola entero',
"descripcion": "Atún la campañola entero x120grs",
"presentacion": "120gr",
"imagen": "../img/productos/atun-lacampanola.webp",
"precio": "$1.099",
"descuento": "5%",
"precioCompetencia": "$1.153,55",
"categoria":"almacen",
}, -->
</body>
</html>