<!DOCTYPE html>
<body>
<form style="max-width: 500px;" action="/productos/crear" method="POST"  enctype="multipart/form-data"> 
    <div>
        <label for="idEdit"> ID a editar</label>
        <input type="number" name="idEdit" value="">
    </div>
    <div>
        <label for="newName"> Nombre nuevo</label>
        <input type="text" name="newName" value="">
    </div>
    
    <button type="submit">Editar producto</button>


</form>
<!-- 
    "id": 1,
"nombre": 'Atún la campañola entero',
"descripcion": "Atún la campañola entero x120grs",
"presentacion": "120gr",
"imagen": "../img/productos/atun-lacampanola.webp",
"precio": "$1.099",
"descuento": "5%",
"precioCompetencia": "$1.153,55",
"categoria":"almacen",
}, -->
</body>
</html>