.container {
    width: 90%;
    height: 300px;
    background-color: #292929;
    
}


.reseña {

    width: 5%;
    height: 100px;
    position: relative;
    left: 8%;
    top: 20px;
   
}

.contacto  {
    width: 14%;
    height: 280px;
    position: relative;
    top: -100px;
    left: 20%;
}


.legal  {

    width: 14%;
    height: 280px;
    position: relative;
    top: -400px;
    left: 35%;

}

.nosotros {

    width: 14%;
    height: 600px;
    position: relative;
    top: -700px;
    left: 50%;
}

.redes {

    position: relative;
    top: -1330px;
    left: 78%;
    width: 14%;
    height: 280px
}

#footer {

    display: flex;
    justify-content:space-around;
}


.titulo{
    color: blanchedalmond;
}


.link{

    display: flex;
    width: 150px;
    height: 40px;
    color: #aaa7a7;
    background-color: transparent;
    border-top: 2px solid white;
    position: relative;
    top: -10px;
    margin-top: 7px
}

#titulo-principal{
    font-size: 20px;
    color: cadetblue;
}

.copyright {

    width: 90%;
    height: 70px;
    position: relative;
    top:-19px;
    left: 5%;
    background-color: black;
    color: cornflowerblue;
}