*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

header {
    background-color: #08BC5A;
    border-radius: 0 0 40px 40px;
    padding:7%;
}

.inline-block{
    display: inline-block;
}
#logo{
    font-family: 'Devonshire', regular;
    font-size: 2.5rem;
    color:#FFF131;
}

.icono{
    height: 7vw;
}
.icono-pequeno{
    height:5vw;
}

.header-top{
    display:flex;
    justify-content:space-between;
    align-items: center;
}


.centrar-hijos-vertical-horizontal{
    display:flex;
    justify-content: center;
    align-items: center;
}

.circulo-rojo{
    z-index: 2;
    background-color: red;
    border-radius: 50%;
   -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    height:7vw;
    width: 7vw;
    position:relative;
    top:3vw;
    right:3vw;
 }

 .blanco-negrita{
    color:white;
    font-weight: bold;
 }

 .cuadrado {
    height: 100px; 
    background: white;
}
/* Armado de boton de busqueda Para busqueda */

.container-buscador{
    width: 100%;
    position: relative;
    margin: 5px 0;
    display: flex;
}

.container-buscador input#search{
    width: 100%;
    height: 30px;
    border: none;
    font-size: 10px;
    padding-left: 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 20px;
    background-color: #FFFFFF;
    color: #ebecee;
}

/* Averiguar por qué es necesario usar placeholder para cada navegador... o si es viejo.. */

.container-buscador input#search::-webkit-input-placeholder {
    color: #65737e;
 }
  
 .container-buscador input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
 }
  
 .container-buscador input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
 }
  
 .container-buscador input#search:-ms-input-placeholder {  
    color: #65737e;  
 }

 .container-buscador .icon{
    position:absolute;
    left:90%;
    top:13%;
    z-index: 1;
    color: #4f5b66;
  }