

body{
    background-color:white;

}





.contenedor{

    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-top: 10%;
    
}

.titulo{

    margin-top:80px;
    font-style: inherit;

}

.login {

    margin-right:200px;
    background-color:cadetblue;
    padding: 4%;
    border-radius: 10%;
    
}



body {
    box-sizing: border-box;
    margin:0;
    padding:0;
    border: 0;
}

header {
    height: 6.2vh;
    background-color: #63d1d1;
    padding: 2vw 5vw;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 700;
    /* Sombra https://www.cssmatic.com/es/box-shadow*/
    -webkit-box-shadow: 0px 5px 6px 0.5px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 5px 6px 0.5px rgba(0,0,0,0.34);
    box-shadow: 0px 5px 6px 0.5px rgba(0,0,0,0.34);
}
#texto-cabecera {
    display: inline-block;
}
.icono{
    height: 3vh;
}
.pad-L-2{
    padding-left: 5vw;
}
.float-derecha{
   margin-left:auto;
}