<div class="categoria_desktop"></div>
    <nav class="menu-main">
        <% locals.categories.forEach(category => { %>
            <a href="/categorias/<%=category.ruta%>"><%= category.nombreCategoria%></a>
        <% });%>
            <a href="#">Iniciar sesión</a>
    </nav>
</div>
