<div id="categorias">
    <div class="categorias">
         <% categories.forEach(category => { %>
        <div class="categoria">
            <a href="/categorias/<%=category.ruta%>">
                <div class="imagen-categoria">
                    <img src= <%= category.iconoCategoria%> >
                </div>
                <div class="nombre-categoria">
                    <span id="categoria1"><%= category.nombreCategoria%></span>
                </div>
            </a>    
        </div>
        <% });%>
    </div>
</div>
