<div class="categoria_desktop">
    <nav class="menu-main">
        <% locals.categories.forEach(category => { %>
            <a href="/categorias/<%=category.ruta%>"><%= category.nombreCategoria%></a>
        <% });%>
            <a class="menu-inicio-2" href="#">Iniciar sesión<i class="fas fa-user"></i></a>
    </nav>
</div>
