<div id="categorias">
    <div class="categorias">
        <div class="categoria">
            <a href="/usuario/mis-pedidos">
                <div class="imagen-categoria">
                    <img src= "/img/categories/repetir.png"> 
                </div>
                <div class="nombre-categoria">
                    <span id="categoria1">Repetir pedido</span>
                </div>
            </a>    
        </div>
        <div class="categoria">
            <a href="">
                <div class="imagen-categoria">
                    <img src= "/img/categories/todas.png"> 
                </div>
                <div class="nombre-categoria">
                    <span id="categoria1">Todas las categorias</span>
                </div>
            </a>    
        </div>
        <% locals.categories.forEach(category => { %>
            <div class="categoria">
                <a href="/categorias/<%=category.path%>">
                    <div class="imagen-categoria">
                        <img src= "<%= category.icon%>" >
                    </div>
                    <div class="nombre-categoria">
                        <span id="categoria1"><%= category.category%></span>
                    </div>
                </a>    
            </div>
        <% });%>
    </div>
</div>
