<div class="categoria_desktop_fondo">
<div class="categoria_desktop">
    <nav class="menu-main">
        <% locals.categories.forEach(category => { %>
            <a href="/categorias/<%=category.path%>"><%= category.category%></a>
        <% });%>
            <a class="menu-inicio-2" href="/usuario/login">Iniciar sesión<i class="fas fa-user"></i></a>
    </nav>
</div>
</div>
