<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Markefy</title>
    <meta charset="UTF-8">
    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Devonshire&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jomhuria&display=swap" rel="stylesheet">
    <!-- Iconos -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Hojas de estilo -->
    <link rel="stylesheet" type="text/css" href="/styles/home.css">
    <link rel="stylesheet" type="text/css" href="/styles/icons.css">
    <link rel="stylesheet" type="text/css" href="/styles/home_new.css">
    <link rel="stylesheet" type="text/css" href="/styles/new_css_otros.css">
    <link rel="stylesheet" type="text/css" href="/styles/RegistroLogin.css">
    <link rel="stylesheet" type="text/css" href="/styles/carousel.css">
    <script type="text/javascript" src="/js/cart.js"></script>
    <script type="text/javascript" src="/js/icons.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script> document.addEventListener('gesturestart', function (e) {
        e.preventDefault();
    });></script>
    <script> document.addEventListener('touchmove', function(event) {
        event = event.originalEvent || event;
        if(event.scale > 1) {
          event.preventDefault();
        }
      }, false);</script>
</head>
