<div id="header-top">
    <div class="header-top-contenedor">
        <!--<div><% if (locals.userLogged) { %>
            Hola <%= locals.userLogged.name %> 
        <% } %> 
        </div> -->
        <!--<div id="menu" class="centrar-hijos-vertical-horizontal">
            <img class="icono" src="/img/menu-icon.svg">
        </div>-->
                <div id="espacio-logo">
                    <a id="logo" href="/"> Marketfy</a>

                </div>
            
            <div><%- include('searcher') %></div>
        <div id="carrito">
            <div id="cart-amount" class="total-carrito"></div>
            <div><i class="fas fa-shopping-cart"></i>
            </div>
            <div class="circulo-rojo centrar-hijos-vertical-horizontal">
                <div id="cart-elements" class="inline-block blanco-negrita"></div>
            </div>
        </div>
        <script type="text/javascript" src="/js/cart.js"></script>
    </div>
</div>
