<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Markefy</title>
    <meta charset="UTF-8">
    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Devonshire&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jomhuria&display=swap" rel="stylesheet">
    <!-- Iconos -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Hojas de estilo -->
    <link rel="stylesheet" type="text/css" href="/styles/home.css">
    <link rel="stylesheet" type="text/css" href="/styles/icons.css">
    <link rel="stylesheet" type="text/css" href="/styles/home_new.css">
    <link rel="stylesheet" type="text/css" href="/styles/new_css_otros.css">
    <script type="text/javascript" src="/js/cart.js"></script>
    <script type="text/javascript" src="/js/icons.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
</head>
