<header>
    <div id="container-header">
        <div id="header-top">
            <div id="menu" class="centrar-hijos-vertical-horizontal"><img class="icono" src="./img/menu-icon.svg"></div>
            <div id="espacio-logo"><span id="logo">Marketfy</span></div>
            <div id="carrito">
                <div class="total-carrito"> $120.322</div>
                <div>
                    <img class="icono" src="./img/shoppingcart-icon.svg">
                </div>
                <div class="circulo-rojo centrar-hijos-vertical-horizontal">
                    <div class="inline-block blanco-negrita">22</div>
                </div>
            </div>
        </div>
        <div id="categorias">
            <div class="categorias">
                <div class="categoria">
                    <div class="imagen-categoria">
                        <img src="img/groceries.png">
                    </div>
                    <div class="nombre-categoria">
                        <span id="categoria1">Almacen</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="header-bottom">
            <!--Inicio <barraBuscar> -->
                <div class="buscador">
                        <input type="text">
                    <div class="icono">🔎</div>
                </div>
            <!--Fin </barraBuscar> -->
        </div>
    </div>
</header>