<div id="search">
    <!--Inicio <barraBuscar> -->
        <div class="buscador">
            <input type="text">
                <div class="icono"><i class="fas fa-search"></i></div>
        </div>
    <!--Fin </barraBuscar> -->
</div>