<div id="header-bottom">
    <!--Inicio <barraBuscar> -->
        <div class="buscador">
            <input type="text">
            <div class="icono">🔎</div>
        </div>
    <!--Fin </barraBuscar> -->
</div>