<div id="search">
    <!--Inicio <barraBuscar> -->
        <form action="/search" method="GET" class="buscador">
            <input type="text" placeholder="Buscá tu producto" name="query">
                <button class="icono"><i class="fas fa-search"></i></button>
        </form>
    <!--Fin </barraBuscar> -->
</div>