<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %>
<body>
    <header>
        <%- include('../partials/header') %>
        <%- include('../partials/categoriesCarousel') %>
        <%- include('../partials/searcher') %>
    </header>
    <div class="container-subcategorias">
        <div class="titulo-categoria">Categoria</div>

        <div class="subcategorias-container">
            SubCategoria 1
        </div>
        <div class="subcategorias-container">
            SubCategoria 2
        </div>



    </div>
</body>
</html>