<!DOCTYPE html>
<html lang="es">

  <%- include('./../partials/head') %>
  <body>
    <header>
      <%- include('../partials/header') %>
      <%- include('../partials/categoriesCarousel') %>
      <%- include('../partials/searcher') %>
    </header>
    <div class="contenedor">
      
        <div>
          <form action="login" method="POST">
              <div class="">
                <label for="email">Email</label>
                <input class="" type="text" name="email" id="email" placeholder="Correo electr칩nico">
              </div>
              <div class="">
                <label for="password">Contrase침a</label>
                <input class="" type="password" name="password" id="password" placeholder="Contrase침a">
              </div>
              <div class="">
                <label for="remember_user">
                  <input class="" type="checkbox" name="remember_user" id="remember_user">Recordar mi usuario
                </label>
              </div>
              <div>
                <button type="submit">Iniciar sesi칩n</button>
              </div>
          </form>
        </div>
      </div>
  </body>
</html>
