<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    <content>
        <% categories.forEach(categorie => { %>
            <p><%= categorie.nombreCategoria %> </p> 
        <% });%>
        <div id="home-catalogo">
            <div class="catalogo-header">
                <div class="catalogo-header-titulo">Ofertas</div>
                <div class="catalogo-header-vertodo">Ver todo ></div>
            </div>
            <div class="catalogo-contenedor">
                <div class="producto-contenedor">
                    <div class="producto-header">
                        <div class="producto-descuento">-5%
                        </div>
                        <div class="producto-favorito">&#9829
                        </div>
                    </div>
                    <div class="producto-imagen">
                        <img src="img/salsa-tomate-la-campañola.png">
                    </div>
                    <div class="producto-footer">
                        <p class="producto-detalle"> Atún la campañola entero </p>
                        <p class="producto-presentacion"> x500gr </p>
                    </div>
                <div class="producto-precios">
                    <p class="precio-nuestro">$6.800</p>
                    <p class="precio-competencia">$9.500</p>
                </div>
                    <div class="producto-agregar">Agregar</div>
                </div>
                <div class="producto-contenedor">
                    <div class="producto-header">
                        <div class="producto-descuento">-5%
                        </div>
                        <div class="producto-favorito">&#9829
                        </div>
                    </div>
                    <div class="producto-imagen">
                        <img src="img/salsa-tomate-la-campañola.png">
                    </div>
                    <div class="producto-footer">
                        <p class="producto-detalle"> Atún la campañola entero </p>
                        <p class="producto-presentacion"> x500gr </p>
                    </div>
                <div class="producto-precios">
                    <p class="precio-nuestro">$6.800</p>
                    <p class="precio-competencia">$95,00</p>
                </div>
                    <div class="producto-agregar">Agregar</div>
                </div>
                <div class="producto-contenedor">
                    <div class="producto-header">
                        <div class="producto-descuento">-5%
                        </div>
                        <div class="producto-favorito">&#9829
                        </div>
                    </div>
                    <div class="producto-imagen">
                        <img src="img/salsa-tomate-la-campañola.png">
                    </div>
                    <div class="producto-footer">
                        <p class="producto-detalle"> Atún la campañola entero </p>
                        <p class="producto-presentacion"> x500gr </p>
                    </div>
                <div class="producto-precios">
                    <p class="precio-nuestro">$6.800</p>
                    <p class="precio-competencia">$95,00</p>
                </div>
                    <div class="producto-agregar">Agregar</div>
                </div>
                <div class="producto-contenedor">
                    <div class="producto-header">
                        <div class="producto-descuento">-5%
                        </div>
                        <div class="producto-favorito">&#9829
                        </div>
                    </div>
                    <div class="producto-imagen">
                        <img src="img/salsa-tomate-la-campañola.png">
                    </div>
                    <div class="producto-footer">
                        <p class="producto-detalle"> Atún la campañola entero </p>
                        <p class="producto-presentacion"> x500gr </p>
                    </div>
                <div class="producto-precios">
                    <p class="precio-nuestro">$6.800</p>
                    <p class="precio-competencia">$95,00</p>
                </div>
                    <div class="producto-agregar">Agregar</div>
                </div>
            </div>

        </div>
    </content>
</body>
</html>