<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <div class="contenedor">
        <div class="titulo">
            <h3>Marketfy</h3>
        </div>     

        <div class="login">
            <h3> Inicio de sesion </h3>
            
            <form action="registro.html" method="POST">
                
            
                <div class="camposlogin">

                  <input class="campo" type="email" name="correo" id="correo" placeholder="Usuario">
                  <div> &nbsp; </div>
                  <input class="campo" type="password" name="correo" id="contrase単a" placeholder="Contrase単a">
                  <div> &nbsp; </div>

                </div>

            </form>
                <div>
                    <input class="botons" type="submit" value="Iniciar sesion">
                </div>

                <div>
                    <p><a href="#">多Olvidaste tu contrase単a?</a></p>
                </div>
                

        </div>    
            

    </div>
    

</body>
</html>