<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
    <link rel="stylesheet" type="text/css" href="/styles/RegistroLogin.css">
</head>
<body>

  
    
    <!--FORMULARIO---->
    <form class="form-reg-log">
        
        <!--TITULO------------------------>
        <h1 class="titulo">Registrarse</h1>
        
        <!--ENTRADA-DE-DATOS------------------------------------------------>
        <input class="cajas" type="text" placeholder="Nombre" required maxlength="30">
        <input class="cajas" type="text" placeholder="Apellido" required maxlength="30">
        <input class="cajas" type="email" placeholder="Email" required maxlength="30">
        <input class="cajas" type="password" placeholder="Contraseña" required maxlength="30">
        
        <!--TERMINOS-Y-CONDICIONES---------------------------------------------------------------------------------->
        <p class="termino1"><input type="checkbox">&nbsp; Estoy de acuerdo con <a class="termino2" href="">Terminos y Condiciones</a></p>
        
        <!--BOTON-DE-REGISTRARSE-------------------------->
        <input type="submit" class="btn" value="REGISTRAR">
        
        <!--YA-TENGO-CUENTA----------------------------------------------------------->
        <p class="tengo-cuenta"><a href="" class="tengo-cuenta">Ya tengo cuenta</a></p>
        
    </form>


      

      <div class="Or">

        <h1>-Or-</h1>
      
      </div>
    

    


      <div class="Login">
        
        <h1 class="titulo">Iniciar sesion</h1>

        <input class="cajas" type="text" placeholder="Nombre" required maxlength="30">
        <input class="cajas" type="password" placeholder="Contraseña" required maxlength="30">

      </div>
    
</body>
</html>