

/* NavBar */
nav { 
    background: #222; 
    padding: 5px 20px; 
} 
ul { 
    list-style-type: none; 
} 
a { 
    color: white; 
    text-decoration: none; 
} 
a:hover { 
    text-decoration: underline; 
} 
.logo a:hover { 
    text-decoration: none; 
} 
.menu li { 
    font-size: 16px; 
    padding: 15px 5px; 
    white-space: nowrap; 
} 
.logo a, .toggle a { 
    font-size: 20px; 
} 
.button.secondary { 
    border-bottom: 1px #444 solid; 
}
/* Fin NavBar */

#header-top{
    margin: auto;
}

/* Inicio Header Categorias */
#categorias{
    margin: auto;
    width: 1440px;
}
.categorias{
    justify-content:space-between;
}
/* Fin Header Categorias */

/*Inicio Estilo para el buscador */
#search {
    margin: auto;
    width: auto;
}
/*Fin Estilo para el buscador */

/* Version Mobil Portrait */
@media (max-width: 500px) and (orientation: portrait) {
    
};

/* Version Mobil Landscapet */
@media (min-width: 577px) {
    
}

/* Version Tablet Landscapet */
@media (min-width: 769px) {
   
}

/* Version Desktop Landscapet */
@media (min-width: 1200px) {
    body {
        margin:auto;
    }
    .producto-contenedor{
        min-width: 200px;
        margin-right:10px;
    }
    .container {
        margin:auto;
        width: 1440px;
    }
};