

/* NavBar */

.categoria_desktop_fondo{
    background: rgb(221, 221, 221);
}

.categoria_desktop {
    max-width: var(--default-width);
    margin: auto;
    display:none;
    background: rgb(221, 221, 221);
}

.menu-main{
    display: flex;
    justify-content: space-between;
    background: rgb(221, 221, 221) ;
/*     border-bottom: ; */
    height: 45px;
    margin: auto;
}

.menu-main a{
    flex: 1;
    display: flex;
    color: black;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;    
    justify-content: center;
    align-items: center;
}

.menu-main a:hover{
    background: rgba(0,0,0, .1);
}

.menu-main a.active{
    background-color: #29487d;
}

.menu-inicio-2 {
    background-color: grey;
    color: blanchedalmond;
}
.fa-user {
    font-size: 1rem;
    margin-left: 0.3rem;
}

/*@media (max-width: 768px) {
    
    .menu-main{
        height: auto;
        border-bottom: 0px;
        display: block;
    }
    
    .menu-main a{
        height: 45px;
        border-bottom: 1px solid #29487d;
    }

}*/

/* Fin NavBar */

#header-top{
    background-color: var(--default-primary-color); /* #08BC5A */
}
.header-top-contenedor {
    /* width: var(--default-width); */
    height: 7rem;
    margin: auto;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding-right: var(--default-padding);
    padding-left: var(--default-padding);
}

/* Inicio Header Categorias */
#categorias{
    margin: auto;
    width: 1440px;
}
.categorias{
    justify-content:space-between;
}

/* Fin Header Categorias */

/*Inicio Estilo para el buscador */
#search {
    margin: auto;
    width: 500px;
    display:none;
}
/*Fin Estilo para el buscador*/

.como-comprar {
    max-width: 1440px;
}

.imagen-como-comprar {
    width: 100%;
    margin: auto;
    object-fit: cover;
}

.bienvenida-home {
    text-align: center;
    color: rgb(68, 68, 68);
    padding: 50px 0px;
}

.bienvenida-home h4 {
    font-weight: 400;
}

/* Version Mobil Portrait */
/* @media (max-width: 500px) and (orientation: portrait) {
    
}; */

/* Version Mobil Landscapet */
@media (min-width: 320px) {
    body {
        margin:auto;
    }
    .producto-contenedor{
        /* min-width: 200px; */
        min-width: 170px;
        margin-right:10px;
        max-width: 30%;
    }
}

/* Version Tablet Landscapet */
@media (min-width: 768px) {
    #search{
        display: inline-block;
    }
    
}

/* Version Desktop Landscapet */
@media (min-width: 1440px) {
    .categoria_desktop {
        display: block;
    }
    .categoria{
        display:none;
    }
    .container {
        margin:auto;
        width: 1440px;
    } 
    .header-top-contenedor{
        margin:auto;
        width: 1440px;
    }
    .categoria_desktop{
        margin:auto;
        width: 1440px;
    }
    #contenedor-subcategoria{
        margin:auto;
        width: 1440px;
    }
    .container-subcategorias{
        margin:auto;
        width: 1440px;
    }
}

/* @media (min-width: 577px) {
    .subcategoria-container > div {
        max-width: 100%;
    }
    
} */