:root {
/* Estructura */    
    --default-border-radious: 1rem;
    --default-padding: .5rem;
    --default-margin: .5rem;

/* Colores */
    --default-background: #EFEFEF;
    --default-primary-color: #08BC5A;
    --red:#FF0000;
    --blue: #0067B8;
    --default-dark: #101010;
    --grey: #A8A8A8;
    --white:#ffffff;
    --darkGrey: #818181;;

    --default-primary-color-light:#25EB7F;
    --default-primary-color-dark:#178046;
    --call-to-action-primary-color:#B4EBCD;


/* Fuentes */
    --font-size-title: 1.5rem;
    --font-size-primary: 1rem;
    --font-size-secondary: 0.75rem;
    --font-size-primary-subtitle: 1.1rem;

/* Sombras*/
    --default-box-shadow: 0px 5px 6px 0.5px rgba(0,0,0,0.34);   

/* Bordes */
    --default-border: 1.5px solid var(--darkGrey);
    --default-border-lighter: 1.5px solid var(--grey);
}



*{box-sizing: border-box; }
.cuadrado {
        width: 100px; 
        height: 100px; 
        background: gold;
   }

body {
    margin:0;
    font-family: sans-serif;
    min-width: 300px;
    padding: 0;
    background-color: var(--default-background);
}
header {
    background-color: var(--default-primary-color);
    padding:0rem .25rem 0.25rem .25rem;

}

.inline-block{
    display: inline-block;
}
#espacio-logo{
    position:relative;
    top:0.5rem;
    left: 15px;
}
#logo{
    font-family: 'Devonshire', regular;
    font-size: 2.5rem;
    color:#FFF131;
}
/*  1 dedo = 45px */
.icono{
    height: calc(45px*0.75);
}


#header-top{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding-right: var(--default-padding);
    padding-left: var(--default-padding);
    margin-bottom: 15px;
}

#menu{
    position:relative;
    top: 0.5rem;
}

.centrar-hijos-vertical-horizontal{
    display:flex;
    justify-content: center;
    align-items: center;
}
/* Inicio Carrito compras header */
#carrito{
    position:relative;
    top: 15px;
    left:5px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    background-color: var(--default-primary-color-light);
    border-radius: var(--default-border-radious);
    padding-left: var(--default-padding);
    padding-top: calc(var(--default-padding)/2);
    padding-bottom: calc(var(--default-padding)/2);
}
.total-carrito{
    font-size: var(--font-size-primary-subtitle);
    padding-right: var(--default-padding);
    color:white;
    font-weight: bold;
    align-self:center;
}
.circulo-rojo{
    z-index: 2;
    background-color: red;
    border-radius: 50%;
   -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    height:1.5rem;
    width: 1.5rem;
    position:relative;
    bottom: 12px;
    right: 5px;
 }

#carrito div img {
    height: calc(45px*0.5);
    position:relative;
    top:1px;
}
 .blanco-negrita{
    color:white;
    font-weight: bold;
 }

/* Fin Carrito compras header */
/* Inicio Header Categorias */
.categorias{
    display:flex;
    width: 100%;
   /*  white-space: nowrap; */
    overflow: auto;
    margin-top:20px;
    margin-bottom: 5px;
}
.categoria{
    height: 120px; 
    max-width:100px;
    margin: 0 2px;
    display: flex;
    flex-direction: column;
}
.categoria .imagen-categoria{
    height: 75px;
    width: 75px; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0.5rem;
    border: solid white 3px;
    margin: 0 auto;
}
.categoria .imagen-categoria img{
    object-fit: contain;
    width: 100%;
}
.categoria .nombre-categoria{
/*     height:25%; */
/*     height: calc(var(--font-size-primary) *2);
 */    color: white;
    text-align: center;
    border:none;
}
/* Fin Header Categorias */
/*Inicio Estilo para el buscador */
.buscador{
    display: flex;
    align-items:center ;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    height: 2rem;
}

.buscador input{
    border:0;
    width: 100%;
    min-width: 0;
    padding: 0.5rem 1rem;
}

.buscador .icono{
    padding-right: 0.5rem;
}
/*Fin Estilo para el buscador */


/*Inicio Estilo para el home-showroom */

.catalogo-header{
    display: flexer;
    margin:var(--default-margin);
}
.catalogo-header-titulo{
    font-size: var(--font-size-title);
    display:inline-block;
}
.catalogo-header-vertodo{
    font-size: var(--font-size-secondary);
    float:right;
    position:relative;
    top:15px;
}
.catalogo-contenedor{
/*     margin-right: var(--default-margin); */
    padding-right: calc(2 * var(--default-margin));
    margin-left: var(--default-margin);
    display:flex;
    flex-direction: row;
    overflow: auto;
}
.producto-contenedor{
    margin: 2px;
    width: 170px;
    min-width: 170px;
    margin-right: var(--default-margin);
}
.producto-contenedor-secundario{
    background-color: #fff;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

}
.producto-header {
    z-index: 2;
    display:flex;
    justify-content: space-between;
}
.producto-descuento{
    background-color: var(--default-primary-color-dark);
    color:white;
    font-weight: bold;
    font-size: var(--font-size-primary);
    display: inline-block;
    padding:calc(var(--default-padding)/2) var(--default-padding);
    text-align: center;
}
.producto-favorito{
    color: red;
    font-size: var(--font-size-title);
}
.producto-imagen{
    width:150px;
    margin:0 auto;
    display:flex;
    align-items: center;
    justify-content: center;
}
.producto-imagen img{
    max-width:150px;
    max-height:130px;
}
.producto-footer{
    height: calc(var(--font-size-primary)*3 + 2px);
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
}
.producto-detalle{
    font-size: var(--font-size-primary);
    
    font-weight: bold;
    margin:0;
}
.producto-presentacion{
    font-size: var(--font-size-secondary);
    color:var(--grey);
    float: right;
    position:relative;
    bottom: 20px;
    right:10px;
}
.producto-precios{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    right: -10px;
}

.precio-competencia{
    font-size: var(--font-size-primary-subtitle);
    
    color:var(--red);
    font-weight: bold;
    text-decoration: line-through;
/*     width: 2.5rem; */
    text-align: center;
    display: flex;
    flex-grow: 1;
    height: 2rem;
    align-items: center;
    
/*     display:inline-block; */
}

.precio-nuestro{
    font-size: var(--font-size-title);
    color:var(--default-primary-color);
    font-weight: bold;
/*     width: 4rem; */
    text-align: right;
    flex-grow: 2;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0.5rem;

/*     display:inline-block; */
}


.producto-agregar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: var(--default-dark);
    color:white;
    border-radius: 1rem;
    overflow: hidden;
    height: 2rem;
    flex-grow: 3;
    margin: 0 auto;
}
/*Fin Estilo para el home-showroom */
/*Inicio Estilo para el detalle de producto */
.contenedorDetalleProducto{
    margin: var(--default-margin);
    padding: var(--default-padding);
    /* margin-right: calc( var(--default-margin) * 
    3); */
    box-shadow: var(--default-box-shadow);
}

/*Fin Estilo para el detalle de producto */
/*Inicio Estilo para el carrito de compras */
.carritoYcheckbox{
    display: flex;

}
.carritoListaYtotal{
    flex-grow: 1;
    margin-bottom: calc(var(--default-margin)* 5 + 50px);
}
.productosEnCarrito{
    margin: var(--default-margin);
    margin-bottom: calc(var(--default-margin)*5);
}

.carrito-detallesProducto{
    width: 50%;
}
.contenedorProducto{
    padding: var(--default-padding);
    background-color: var(--white);
    box-shadow: var(--default-box-shadow);
    margin-bottom: var(--default-margin);
}
.carrito-item-descripcion{
    display: flex;
}
.imagenProductoCarrito img{
    height:100px;
    width: 100px;
}
.carrito-detallesProducto .producto-detalle{
    height:3rem;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.carrito-detallesProducto p{
    margin:0;
    padding:0;
}
.carrito-detallesProducto .producto-agregar{
    width:70%;
}
.carrito-subtotalProducto{
    margin-left: var(--default-margin);
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.carrito-subtotalProducto p {
    margin:0;
    font-weight: bold;
}
.detalleTotal-contenedor{
    background-color:var(--white);
    margin-bottom: calc(var(--default-margin)*3);
    border: var(--default-border);
    padding: var(--default-padding);
}
.detalleTotalTitulo p{
    color: var(--red);
    font-size:var(--font-size-title);
    font-weight: bold;
    border-bottom: var(--default-border);
    padding-bottom: var(--default-padding);
    margin: 0
}
.subtotales{
    padding: calc(var(--default-padding) * 2) 0;
    border-bottom: var(--default-border);
}
.subtotal{
    display: flex;
    justify-content: space-between;
    margin: 0 var(--default-margin) / 2;
}
.subtotal p{
    font-size: var(--font-size-primary-subtitle);
    font-weight: bold;
    margin: 0 var(--default-margin);

}
.gastosEnvio{
    display: flex;
    justify-content: space-between;
}
.gastosEnvio p{
    font-size: var(--font-size-primary-subtitle);
    font-weight: bold;
    margin: 0 var(--default-margin);
}
.total-a-abonar{
    display:flex;
    justify-content: space-between;
    color: var(--default-dark);
    font-size:var(--font-size-title);
    font-weight: bold;
    border-bottom: var(--default-border);
}

.total-a-abonar p{
    margin:var(--default-margin);
}
.ahorro-total{
    color:var(--default-primary-color);
    font-weight: bold;
    font-size: var(--font-size-primary-subtitle);
}
.ahorro-total p{
    margin:0;
}
.checkout{
    height: calc(var(--font-size-title)*2.5);
    background-color:var(--white);
    border:var(--default-border);
    position: fixed;
    bottom: 0;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    color: var(--default-dark);
    font-size:var(--font-size-title);
    font-weight: bold;
    padding: calc(var(--default-padding) * 3);
}
.checkout .producto-agregar{
    background-color: var(--default-primary-color);
    width: 40%;
    margin:0;
    height: calc(var(--font-size-title)*2);
}
/*Fin Estilo para el carrito de compras */


/* Inicio todas las categorias */
.wrap-all-categories {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
/*  Fin todas las categorias */
/* Inicio Vista Sub-categorias */
.container-subcategorias{
    margin:var(--default-margin);
    border-radius: var(--default-border-radious);
    border: var(--default-border-lighter);
    padding:var(--default-padding);
}
.subcategorias-container{
    padding: var(--default-padding) 0;
    padding-left: var(--default-padding);
    border-bottom: var(--default-border-lighter);
}
/* Fin Vista Sub-categorias */