

/* NavBar */

.categoria_desktop {
    max-width: var(--default-width);
    margin: auto;
}

.menu-main{
    display: flex;
    justify-content: space-between;
    background: rgb(221, 221, 221) ;
    border-bottom: ;
    height: 45px;
    margin: auto;
}

.menu-main a{
    flex: 1;
    display: flex;
    color: black;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;    
    justify-content: center;
    align-items: center;
}

.menu-main a:hover{
    background: rgba(0,0,0, .1);
}

.menu-main a.active{
    background-color: #29487d;
}

.menu-inicio-2 {
    background-color: grey;
    color: blanchedalmond;
}
.fa-user {
    font-size: 1rem;
    margin-left: 0.3rem;
}

/*@media (max-width: 768px) {
    
    .menu-main{
        height: auto;
        border-bottom: 0px;
        display: block;
    }
    
    .menu-main a{
        height: 45px;
        border-bottom: 1px solid #29487d;
    }

}*/

/* Fin NavBar */

#header-top{
    background: linear-gradient(-70deg, #0DAA54, #08BC5A);
}
.header-top-contenedor {
    /* width: var(--default-width); */
    height: 7rem;
    margin: auto;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding-right: var(--default-padding);
    padding-left: var(--default-padding);
}

/* Inicio Header Categorias */
#categorias{
    margin: auto;
    width: 1440px;
}
.categorias{
    justify-content:space-between;
}

/* Fin Header Categorias */

/*Inicio Estilo para el buscador */
#search {
    margin: auto;
    width: auto;
}
/*Fin Estilo para el buscador*/

/* Version Mobil Portrait */
@media (max-width: 500px) and (orientation: portrait) {
    
};

/* Version Mobil Landscapet */
@media (min-width: 577px) {
    
}

/* Version Tablet Landscapet */
@media (min-width: 769px) {
   
}

/* Version Desktop Landscapet */
@media (min-width: 1200px) {
    body {
        margin:auto;
    }
    .producto-contenedor{
        min-width: 200px;
        margin-right:10px;
    }
    .container {
        margin:auto;
        width: 1440px;
    }
};