
body{
    background-color:white;

}


.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-top: 10%;
}
.titulo{

    margin-top:80px;
    font-style: inherit;

}

.login {

    margin-right:200px;
    background-color:cadetblue;
    padding: 4%;
    border-radius: 10%;
    
}



body {
    box-sizing: border-box;
    margin:0;
    padding:0;
    border: 0;
}


.pad-L-2{
    padding-left: 5vw;
}
