/* Agrego a css de otras clases */

.producto-imagen{
    max-width: 100%;
}

.subcategoria-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(193px, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    column-gap: 2%;
    row-gap: 20px;
    margin: 1%;
    justify-items: center;
}


/* .producto-contenedor{
     min-width: 50%; 
} */

#categorias{
    margin: auto;
    width: 100%;
    background-color: var(--default-primary-color);
}

.categorias{
    overflow: auto;
    margin-top:0;
}

/* .max-width100{
    max-width: 100%;
} */
/* .categoria_desktop{
display: flex;
    flex-wrap: auto;
    overflow: auto;
} */


.text-danger{
    color:red;
}
